#buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid rgb(232, 20, 20);
    margin: 16px;
}
.rowFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border: 2px solid rgb(232, 20, 20);
}
.rowFlexMini{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid rgb(232, 20, 20);
}
#logo{
    background-image: url('Images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: white;
    left: 100px;
    width: 1200px;
    height: 700px;
    opacity: 1;
    z-index: 1;
    animation: reverseFade 2s ease-in-out forwards;
}
/* home page CSS */
#homeBackground{
    background-image: url('Images/Jeopardy_Background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
    animation: fade 2s ease-in-out /* 3s */ forwards;
}
@keyframes reverseFade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#TopLevel{
    display: flex;
    font-size: 70px;
    align-items: center;
    position: relative;
    top: -55px;
    border: 2px solid rgb(232, 20, 20);
    justify-content: space-around;
}
.filler{
    color: transparent;
}
#title{
    font-family: fantasy;
    color: rgb(248, 192, 72);
    position: relative;
}
#Main_Buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MainButtons{
    position: relative;
    width: 200px;
    height: 50px;
    margin: 10px;
}
#bottomButtons{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 80px;
}
#Settings, #Rules{
    height: 100px;
    width: 100px;
}

/* teams page */
#fullTeamPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgb(232, 20, 20);
    width: 90%;
    height: 80%;
}
.teamFlex{
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
    border: 2px solid rgb(232, 20, 20);
}
/* settings page */
#fullSettings{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 2px solid rgb(211, 232, 20);
}
.settingHalf,
.settingsFlex {
    display: flex;
    position: relative;
    border: 2px solid rgb(232, 20, 20);
}

.settingHalf {
    flex-direction: column;
    width: fit-content;
}
.settingsFlex {
    align-items: center;
}

.settingsText{
    font-size: 30px;
    color: wheat;
}
.question{
    width: 20px;
    height: 20px;
}

#leftArrow, #rightArrow{
    width: 100px;
    height: 50px;
}
#rightArrow {
    transform: scaleX(-1);
}
#checkerz{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
/* slider code */
#switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
#switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
/* game board */
#canvasFrame{
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 850px;
    border: 2px solid black;
}
#onTop{
    display: flex;
    flex-direction: column;
}
.stacked{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(232, 20, 20);
}
#questionBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(232, 20, 20);
    height: 100%;
}
#a{
    visibility: hidden;
}
#lifeLines{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}